@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|Roboto:100,400,700&display=swap");

$main-color: #ee72ff;
$second-coor: #fff880;
$third-color: #66ff7f;
$shade-two: #b3ae62;
$shade-three: #3eb351;

$defoult-font: arial, sans-serif;
$special-font: "pt sans", "robot", "arial";
